body {
   font-family: Arial, sans-serif;
   background-color: #f0f0f0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
}



form {
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
   display: block;
   margin-bottom: 5px;
}

h5 {
   display: flex;
   color: red;
}

input[type="text"] {
   width: 200px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

button[type="submit"] {
   background-color: #4CAF50;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

#result {
   margin-top: 20px;
   font-weight: bold;
   text-align: center;
   background-color: #fff;
   color: #0a0708;
   padding: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
   border-radius: 5px;
}

.resultInput {
   font-weight: bold;
   text-align: center;
   background-color: #16df0fa1;
   color: #0a0708;
   padding: 10px;
   border-radius: 5px;
}

.error {
   color: #0a0708;
   background-color: #e65050fa;
   border-radius: 5px;
   padding: 10px;
}